/* 
WSP COMPONENT LIBRARY STYLESHEET
css by: Albert Martinez
class: WSP 1507 
*/

/* BASE STYLES */

body {
	background: rgba(43, 46, 55, .3);
	font: normal 100%/1.5 'Source Sans Pro', sans-serif;
	width: 100%;
}

img {
	max-width: 100%;
	margin: 0 auto;
}


/* TYPOGRAPHY  */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "source sans pro", sans-serif;
	line-height: 1;
}

h1,
h2,
h3 {
	font-weight: 900;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h4,
h5,
h6 {
	font-weight: 500;
	letter-spacing: 0.10em;
	text-transform: capitalize;
}

h1, footer p {
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 1.5em;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.75);
}

h2 {
	font-size: 3em;
	color: rgba(139, 139, 141, 1);
	padding: 1em 0 0 0;
	margin-bottom: 20px;
}

h3 {
	font-size: 2em;
	color: rgba(139, 139, 141, .8);
	margin-bottom: 1em;
	padding: 1em 0;
}

h4 {
	font-size: 1em;
	color: rgba(100, 100, 100, .6);
	padding: 1em 0 .5em 0;
}

p {
	line-height: calc(16px*10%); /* my experiment. Works/looks great @ zoom: 25% & zoom: 500% */
	margin-bottom: 1em;
}
@media (min-width:320px){
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size:2em;
		font-weight:900;
		text-align: center;
	}
	h3 {
		font-size: 1.75em;
	}
	h4 {
		font-size: 1.5em;
	}
	section:first-of-type p {
		color:rgba(240, 248, 255, 0.71);
	}
	p {
		font-size: 150%;
		color: rgba(105, 105, 105, 0.9);
	}
}
	
@media (min-width: 700px) {
	h1 {
		font-size: 1.3em;
	}
	h2 {
		font-size:2em;
		font-weight:900;
	}
}
@media (min-width: 900px) {
	h2 {
		font-size:2em;
		font-weight:900;
	}
	h3 {
		font-size: 2.3em;
	}
}
@media (min-width: 1200px) {
	section {
		max-width: 1200px;
		margin: auto;
	}
}


/* HEADER SPECIFIC  */

header,
footer {
	width: 100%;
	max-height: 110px;
	background: rgba(43, 46, 55, 1) url('../img/logo.png') no-repeat;
background-position: center center;
	border: 1px Solid rgba(0, 0, 0, 0.3);
	padding: 5%;
		box-shadow: 0px 0px 15px rgba(0,0,0,.8);
	z-index:2;
}
@media (min-width:320px){
	header {
		background: rgba(43, 46, 55, 1);
	}
}
/* ABOUT SPECIFIC  */

section:first-of-type {
	background: rgba(43, 46, 55, .9);
/* rgba(43,39,36,1)*/
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,.7);
	width: 100%;
	padding-left: 3%;
	padding-right:3%;
	padding-bottom: 10%;
}

section > img {
	width: 20%;
	float:left;
	position: relative;
	display:inline;
	margin-right: 2em;
}


/* COMPONENTS SPECIFIC  */

section:last-of-type {
	display: block;
	max-width: 1200px;
	width: 100%;
	margin: 90px auto;
}

section:last-of-type article {
	background: #fff;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height:auto;
	margin: 90px auto;
	padding: 5px 10%;
	box-shadow: 0px 3px 15px rgba(0,0,0,.25);
	border: outset 1px rgba(255,255,255,.5);

}

a, section a, section a:link {
	display: inline-block;
	text-shadow: 1px 2px 3px rgba(250,250,250,.9);
	padding: 1em 2em;
	margin: 20px 0;
	background-color: rgba(216, 255, 0, 1);
	color:rgba(35, 160, 88, 0.62);
	text-transform: capitalize;
	font-weight: 800;
	box-shadow: 0px 0px 1px rgba(0,0,0,.3);
	border: outset 1px rgba(255,255,255,.5);
	width: auto;
	text-align: center;
}

@media (min-width: 320px)and (max-width:700px) {
	section a, section a:link {
		 width: 100%;
	}
}