/* =========================
WSP COMPONENT LIBRARY STYLESHEET
========================= */
/* BASE STYLES
---------------------------------------- */

html,
body {
	font-family: 'Roboto', sans-serif;
}

body {
	background: url('../img/pattern-overlay.png') repeat, rgba(255, 248, 255, 0.8);
}
/* whitespace between main sections */

main {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
main > section {
	padding: 0 1rem;
	margin: 6rem auto;
}

main article {
	margin-bottom: 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Condensed", "Roboto", sans-serif;
	font-weight: 400;
	margin: 1rem 0;
}
/* logo */

h1 {
	color: rgba(255, 255, 255, 0.82);
	font-size: 1.8rem;
	vertical-align: text-top;
	line-height: 1;
	margin-left: 0.5rem;
}
/* main section heading */

h2 {
	color: rgba(25, 25, 112, 0.7);
	font-weight: 100;
	font-size: 4rem;
	text-transform: uppercase;
}
/* article headings */

h3 {
	color: rgba(255, 66, 0, 0.76);
	font-size: 2.4rem;
	text-transform: uppercase;
}
/* sub headings */

h4 {
	color: rgba(0, 0, 0, .60);
	font-size: 2rem;
	line-height: 0.5;
	text-transform: capitalize;
}

p {
	margin-bottom: 3rem;
}
/* HEADER */

header,
footer {
	padding: 0.5rem 0;
	background: midnightblue;
}
header {
z-index: 10;
}
header img {
	width: 2rem;
	height: 2rem;
	margin-left: 2rem;
}
header h1 {
	display: inline-block;
	vertical-align: middle;
}
footer p {
	text-align: center;
}
nav {
	margin-top: 2rem;
	outline: 1px dotted black;
	width: 100%;
}
nav::before {
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	position: fixed;
	top: .5rem;
	right: 1.4rem;
	padding: 1.4rem;
	margin: 0.5rem;
	background: url('../img/mmenu.png') center center no-repeat;
}

/* global navigation */
nav > ul {
	/*	background-color: black;*/
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction:
		column; /* Safari */
	flex-direction: column;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
	-webkit-justify-content: center; /* Safari */
	justify-content:         center;
}

/* nav links */
nav ul li {
	flex-shrink: 0;
	text-align: center;
	width:100%;
}

nav li a {
	display: block;
	padding: 5% 3%;
	font-size: 1.6rem;
/*	margin-top: -1.2rem;*/
	cursor: pointer;
	color: #fff;
	background: rgb(255, 66, 0)
}

/* nav links: hover state */
nav li:hover a {
	background-color: rgb(208, 61, 9);
}

header nav{
	position: absolute;
	top: -100%;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
}


header:hover nav {
	top:29px;
	opacity: 1; 
	visibility: visible;
}



/* ABOUT ME */

section[title=about] img {
	width: 90%;
	border-radius: 100%;
	display: block;
	margin: -2rem auto 2rem;
	border: .2rem inset midnightblue;
	box-shadow: 0 0 .5rem .1rem rgba(255, 66, 0, 1);
}

p {
	font-size: 1.6rem;
	color: rgba(135, 125, 136, 1);
}
/* view component link (styled as button*/

p > a,
p > a:link {
	display: block;
	text-align: center;
	line-height: 4;
	background: yellow;
	color: grey;
	border-bottom: .2rem solid #d1d108;
	border-top: .1rem solid white;
}

h4:first-of-type {
	margin-top: 4rem;
}


/*-------------------
RESPONSIVE STYLING 
---------------------*/

@media (min-width: 700px) {
	.wrapper {
		max-width: 960px;
		margin: auto;
	}
	header, footer {
		padding: 2rem;
	}

	/*	layout horizontally */
	nav,
	h1, header img{
		display: inline-block;
		vertical-align: middle;
	}
	
	/*	position to right */
	nav {
		float: right;
		width:75%;
	}
	
	/*	keep list items inline + equal spacing */
	nav li {
		display: inline-block;
		background: transparent;
		width: calc(100%/10 - 3.6rem/10)
	}
	
	nav:hover li {
		display: inline-block;
/*		margin-top:;*/
		cursor: pointer;
/*		line-height: 2;*/
/*		z-index: 1;*/
	}
	/*	keep "to top" link seperate*/
	nav li:last-of-type {
		position: fixed;
		right: 0;
		bottom: 4rem;
	}
	
	/* normal state links */
	

nav li a,
nav li a:link {
	color: rgb(145, 145, 146);
	text-transform: uppercase;
	margin-right: -0.4rem;
	background: transparent;
}

	
nav li:hover a,
nav li:hover a:link {
	color: rgb(195, 195, 195);
	background: transparent;
	text-align: center;
	text-transform: uppercase;
	padding: 2rem;
}
	/* hover state links */	
	nav li:hover a {
		color: #fff;
		background: rgba(255, 66, 0, 1);
		transition: all 0.25s ease-in-out;
	}
	
	nav::after {
		display: none;
	}
/*
	nav:hover li {
		float: none;
		margin-top: auto;
		width: auto;
		cursor: pointer;
		border: none;
	}
*/
	
/*	about me */
	section[title=about] img {
	width: 90%;
	display: inline-block;
	float:left;
	margin: 2.5rem auto 2rem;
	border: .2rem inset midnightblue;
	box-shadow: 0 0 .5rem .1rem rgba(255, 66, 0, 1);
}

	
	/* -----------------
/*	COMPONENT LIBRARY 
	------------------*/
	main > section:nth-of-type(2) {
		margin-top: 100px;
		background-color: white;
		border: 1px outset white;
		border: 1px inset rgb(0, 0, 0, .3);
	}
	section[title=about] img {
		max-width: 20%;
		display: inline-block;
		margin-right: 2rem;
	}
	section::after {
		content: "";
		display: table;
		clear: both;
	}

}