<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Albert Martinez: Web Standards Project | Comparison Chart - Component 8</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<header id="header">
		<h1>Web Standards Project | Comparison Chart - Component 8</h1>
	</header>
	<!-- Component -->
	<section>
		<article title="carribean">
			<h2>Carribean</h2>
			<img src="1.jpg" alt="Destination 1">
			<p>$987.<sup>00</sup></p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 1">More</a>
			</p>
		</article>
		<article title="london">
			<h2>London</h2>
			<img src="2.jpg" alt="Destination 2">
			<p>$1240.<sup>00</sup></p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 2">More</a>
			</p>
		</article>
		<article title="seychelles">
			<h2>Seychelles</h2>
			<img src="3.jpg" alt="Destination 3">
			<p>$895.<sup>00</sup></p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 3">More</a>
			</p>
		</article>
		<article title="villas">
			<h2>Villas</h2>
			<img src="4.jpg" alt="Destination 4">
			<p>$999.<sup>99</sup></p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 4">More</a>
			</p>
		</article>
	</section>
	

	<!-- End Component -->
	
</body>
</html>