<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<section>
			<img src="destination.png" alt="Destination 1">
			<p>$987.00</p>
			<p>This destination hot spot is filled with lots of fun in the sun.</p>
			<p><a href="#" title="More details about destination 1">More</a></p>
		</section>
		<section>
			<img src="destination.png" alt="Destination 2">
			<p>$1240.00</p>
			<p>This destination hot spot is filled with lots of fun in the sun.</p>
			<p><a href="#" title="More details about destination 2">More</a></p>
		</section>
		<section>
			<img src="destination.png" alt="Destination 3">
			<p>$895.00</p>
			<p>This destination hot spot is filled with lots of fun in the sun.</p>
			<p><a href="#" title="More details about destination 3">More</a></p>
		</section>
		<section>
			<img src="destination.png" alt="Destination 4">
			<p>$999.99</p>
			<p>This destination hot spot is filled with lots of fun in the sun.</p>
			<p><a href="#" title="More details about destination 4">More</a></p>
		</section>
	</section>
	

	<!-- End Component -->
	
</body>
</html>