<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<article>
			<h2>Carribean</h2>
			<img src="1.jpg" alt="Destination 1">
			<p>$987.00</p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 1">More</a>
			</p>
		</article>
		<article>
			<h2>London</h2>
			<img src="2.jpg" alt="Destination 2">
			<p>$1240.00</p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 2">More</a>
			</p>
		</article>
		<article>
			<h2>Seychelles</h2>
			<img src="3.jpg" alt="Destination 3">
			<p>$895.00</p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 3">More</a>
			</p>
		</article>
		<article>
			<h2>Villas</h2>
			<img src="4.jpg" alt="Destination 4">
			<p>$999.99</p>
			<p>This destination hot spot is filled with lots of fun in the sun.
				<a href="#" title="More details about destination 4">More</a>
			</p>
		</article>
	</section>
	

	<!-- End Component -->
	
</body>
</html>