body {
	height: 100vh;
}

#header {
	padding: 1rem 4rem;
	margin: 0 auto;
	min-width: 100%;
}
#header h1 {
	text-align: left;
	font: 400 normal 1.6rem/2 'Source Sans Pro', sans-serif;
	color:rgb(0 0 0 / 30%);
}

.container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	justify-items: center;
	min-width: 320px;
}

body {
	height: 100vh;
	background: url(bg.jpg);
	background-size: cover;
	margin: 1rem auto;
	padding: 1rem 0.5rem;
	background-color: rgba(255, 255, 255, 0.3);
	background-blend-mode: lighten;
}

.container {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: .5rem;
}

.grid_item {
	display: flex;
	position: relative;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-evenly;

	background: rgb(255, 255, 255);
	background-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 18%,
		rgba(252, 252, 252, 1) 23%,
		rgba(237, 237, 237, 1) 37%,
		rgba(255, 255, 255, 1) 68%
	);
	height: 24vh;
	width: 100%;
	max-width: 400px;
	margin-bottom: 2rem;
	padding: 20px;
	transition: all .25s ease-in-out;
	box-shadow: 0.1rem 0.2rem 0.4rem 0 rgb(0 0 0 / 30%), 0 0 0.4rem 0.2rem rgb(0 0 0 / 30%);
}

header,
.product_img,
p a,
p a:link {
	display: block;
	width: 33%;
	height: 100%;
}

header,
.product_img,
.grid_item p {
	position: absolute;
	padding: 0.5rem;
}

header,
h2 { z-index: 109; }

.product_img,
img {	z-index: 89; }

.grid_item p {
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
}

p a,
p a:link {
	color: #999;
	font: 600 normal 1.2rem/1 "Open Sans", sans-serif;
	padding: .5rem;
	transition: color .25s ease-in-out;
}

p a:hover,
p a:focus {
	color: #000;
	transition: color .25s ease-in-out;
}

.grid_item header,
.grid_item p {
	margin-left: 1rem;
}

header {
	left: 0;
	top: 0;
	height: 3rem;
	width: 40%;
}

.product_img {
	display: flex;
	align-items: center;
	align-content: flex-center;
	justify-content: flex-end;
	width: 60%;
	top: 0;
	right: 0;
}

img {
	max-width: 129px;
	max-height: 91px;
}

h2 {
	font-size: 1.8rem;
	text-transform: uppercase;
}

.grid_item > p { bottom: 0;}

@media screen and (min-width: 502px) {
	.container {
		max-width: 960px;
		padding: 2rem;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	.grid_item {
		width: 48%;
		max-width: 640px;
		height: 108px;
		margin-bottom: 1rem;
	}

	.product_img img { max-height: 99%;	}
}

@media screen and (min-width: 844px) {
	.grid_item {
		width: 32%;
		max-width: 300px;
	}
}
