<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
<h1>Component</h1>
	<!-- Component -->
	<section>
		<h2>Discover Public Sites</h2>
		<ul>
			<li><a href="" class="active">Recent</a></li>
			<li><a href="">Most liked</a></li>
			<li><a href="">Most Viewed</a></li>
		</ul>
		
		<section>
		
			<section>
				<img src="1.jpg" alt="Website snapshot example 1">
				<ul>
					<li title="Views">Views 101</li>
					<li title="Comments">Comments 01</li>
					<li title="Likes">Likes 1</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 1">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 2">
				<ul>
					<li title="Views">Views 102</li>
					<li title="Comments">Comments 02</li>
					<li title="Likes">Likes 2</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 2">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 3">
				<ul>
					<li title="Views">Views 103</li>
					<li title="Comments">Comments 03</li>
					<li title="Likes">Likes 3</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 3">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 4">
				<ul>
					<li title="Views">Views 104</li>
					<li title="Comments">Comments 04</li>
					<li title="Likes">Likes 4</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 4">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 5">
				<ul>
					<li title="Views">Views 105</li>
					<li title="Comments">Comments 05</li>
					<li title="Likes">Likes 5</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 5">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 6">
				<ul>
					<li title="Views">Views 106</li>
					<li title="Comments">Comments 06</li>
					<li title="Likes">Likes 6</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 6">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 7">
				<ul>
					<li title="Views">Views 107</li>
					<li title="Comments">Comments 07</li>
					<li title="Likes">Likes 7</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 7">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 8">
				<ul>
					<li title="Views">Views 108</li>
					<li title="Comments">Comments 08</li>
					<li title="Likes">Likes 8</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 8">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 9">
				<ul>
					<li title="Views">Views 109</li>
					<li title="Comments">Comments 09</li>
					<li title="Likes">Likes 9</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 9">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 10">
				<ul>
					<li title="Views">Views 110</li>
					<li title="Comments">Comments 10</li>
					<li title="Likes">Likes 10</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 10">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 11">
				<ul>
					<li title="Views">Views 111</li>
					<li title="Comments">Comments 11</li>
					<li title="Likes">Likes 11</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 11">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
			<section>
				<img src="1.jpg" alt="Website snapshot example 12">
				<ul>
					<li title="Views">Views 112</li>
					<li title="Comments">Comments 12</li>
					<li title="Likes">Likes 12</li>
				</ul>
				<section>
					<img src="avatar.jpg" alt="Photo of author 12">
					<h3>Salon Amann</h3>
					<p>by<a href="">benvisual</a></p>
				</section>
			</section>
			
		</section>
	</section>

	<!-- End Component -->
	
</body>
</html>