<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Albert Martinez: Web Standards Project | Product Grid - Component 5</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>
	<header id="header">
		<h1>Web Standards Project | Product Grid - Component 5</h1>
	</header>
	<!-- COMPONENT 5   -->
	<section class="container">

		<!-- GRID_ITEM 1 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 1 -->

		<!-- GRID_ITEM 2 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 2 -->

		<!-- GRID_ITEM 3 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 3 -->

		<!-- GRID_ITEM 4 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 4 -->

		<!-- GRID_ITEM 5 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 5 -->

		<!-- GRID_ITEM 6 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 6 -->

		<!-- GRID_ITEM 7 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 7 -->

		<!-- GRID_ITEM 8 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 8 -->

		<!-- GRID_ITEM 9 -->
		<div class="grid_item">
			<header>
				<h2>Nike<strong>Store</strong></h2>
			</header>
			<div class="product_img">
				<img width="129" height="91" alt="Nike running shoe" src="nikeid.png" />
			</div>
			<p><a href="#">Shop online</a></p>
		</div>
		<!-- ./GRID_ITEM 9 -->

	</section>

	<!-- End Component -->

</body>

</html>