<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<blockquote>I think that the most important thing a woman can have-next to talent, of course- is her hairdresser.</blockquote>
		<h2>Joan Crawford /Oscar-winning Film &amp; T.V. Actress</h2>
	</section>
	

	<!-- End Component -->
	
</body>
</html>