<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
	<section>
		<article>
			<h2>Seminar on Jewish environmental education</h2>
			<h3>01/25</h3>
			<p>Flexitarian letterpress before they sold out selvage organic VHS. Sriracha asymmetrical sustainable craft beer cray, meh kogi gluten-free Schlitz direct trade migas.</p>
			<p><a href="#">book Now</a></p>
			<ul>
				<li><a href="#1">Slide 1</a></li>
				<li><a href="#2">Slide 2</a></li>
				<li><a href="#3">Slide 3</a></li>
			</ul>
		</article>
	</section>
	

	<!-- End Component -->
	
</body>
</html>