/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
/* space from edge of window & vertical stack */

#header {
	padding: 1rem 4rem;
	margin: 0 auto;
	min-width: 100%;
}
#header h1 {
	text-align: left;
	font: 400 normal 1.6rem/2 'Source Sans Pro', sans-serif;
	color:rgb(0 0 0 / 30%);
}


section {
	padding: 10px 15px 0 15px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: "Source Sans Pro", sans-serif;
   font-size: 3.5rem;
   line-height: 3.25;
   color: darkgrey;
	font-weight: 600;
}

ul {
	display: flex;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
}

/* Event */
section li {
	width: 100%;
   padding-bottom: 30px;
   margin-bottom: 60px;
   /* font-size: 2.0rem; */
   display: flex;
   /* flex-basis: auto; */
   /* flex-flow: row; */
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: space-between;
   justify-content: center;
   align-items: baseline;
   border-bottom: 1px ridge darkgrey;
}

/* event date - large date */	
time {
    box-sizing: border-box;
    border: 3px solid #58c0e6;
    font-size: 4.2rem;
    font-weight: 400;
    line-height: 1;
    color: #58c0e6;
    text-align: center;
    display: inline-flex;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
    padding: 12px 20px;
    flex-direction: column;
}

/* date - month */
time > abbr {
	font-size: 2rem;
	font-weight: 900;
}

/* text headings */
li > h2 {
	color: #545454;
	font-size: 2.4rem;
	font-weight: 900;
	line-height: 2.25;
	text-align: left;
	display: inline-block;
}

/* read more link */
li p > a {
	color: #58c0e6;
	display: block;
	font-size: inherit;
	padding-top: 2rem;
}

@media only screen and (min-width: 680px) {
	header {
		margin-bottom: 30px;
	}
	
	h1 {
		text-align: center;
	}

	section ul {
		max-width: 960px;
		margin: auto;
		flex-direction: row;
		flex-wrap: nowrap;
		/* align-content: space-around; */
		/* justify-content: space-around; */
		align-items: baseline;
	}

	time {
		margin: auto;
	}
	section li {
		border-bottom: none;
	}
	section li:not(:last-child) {
		margin-right: 5rem;
	}

	li > h2 {
		text-align: center;
		width: 100%;

	}
}