<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head> 
<body>

	<!-- Component -->
	<header>
		<section>
			<h1>Hair extensioins</h1>
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Store</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
				</nav>
		</section>
		<section>
			<ul>
				<li><a href="#">My account</a></li>
				<li><a href="#">Compare</a></li>
				<li><a href="#">Wishlist</a></li>
				<li><a href="#">Delivery</a></li>
				<li><a href="#">Help</a></li>
			</ul>

			<form>
				<p><input type="search"></p>
			</form>
		</section>
	</header>
	<!-- End Component -->
	
</body>
</html>