<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<ul>
			<li>
				<p><time datetime="25 Apr">25<br/>apr</time></p>
				<h2>Ski patrol fundraiser</h2>
				<p>he Annual Ski Patrol Fundraiser and community celebration is a must go-to event. Head down the Gondola and to Heavenly Village! Enjoy everything from the sounds of live music, to the great beers, and even hanging with out very own patrolers and the avalancge rescue dogs! All proceeds benefit community non-profits. Enjoy because the fundraiser is open to everyone!</p>
				<p><a href="">read more</a></p>
			</li>
			<li>
				<p><time datetime="25 Apr">25<br/>apr</time></p>
				<h2>Ski patrol fundraiser</h2>
				<p>he Annual Ski Patrol Fundraiser and community celebration is a must go-to event. Head down the Gondola and to Heavenly Village! Enjoy everything from the sounds of live music, to the great beers, and even hanging with out very own patrolers and the avalancge rescue dogs! All proceeds benefit community non-profits. Enjoy because the fundraiser is open to everyone!</p>
				<p><a href="">read more</a></p>
			</li>
			<li>
				<p><time datetime="25 Apr">25<br/>apr</time></p>
				<h2>Ski patrol fundraiser</h2>
				<p>he Annual Ski Patrol Fundraiser and community celebration is a must go-to event. Head down the Gondola and to Heavenly Village! Enjoy everything from the sounds of live music, to the great beers, and even hanging with out very own patrolers and the avalancge rescue dogs! All proceeds benefit community non-profits. Enjoy because the fundraiser is open to everyone!</p>
				<p><a href="">read more</a></p>
			</li>
		</ul>
	</section>
	

	<!-- End Component -->
	
</body>
</html>