<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>
<div>Div
	<p>I'm inside Div. div > p 
		<section>Section: div > p > section
			<p>Div > p > section > p</p>
			end section
		</section>
		end p
	</p>
	end div
</div>

<p>sibling of div:  div + p</p>
	<!-- Component -->
	<section>
		<ul>
			<li>
				<time datetime="25 April">25<abbr title="April">apr</abbr>
				</time>
				<h2>Ski patrol festival</h2>
				<p>The Annual Ski Patrol Community Celebration is an event you do not want to miss. Head down to Heavenly Village.Enjoy because this event is open to everyone.
					<a href="#" title="Read more about project 1">read more</a>
				</p>
			</li>

			<li>
				<time datetime="25 April">25<abbr title="April">apr</abbr>
				</time>
				<h2>Ski patrol festival</h2>
				<p>The Annual Ski Patrol Community Celebration is an event you do not want to miss. Head down to Heavenly Village.Enjoy because this event is open to everyone.
					<a href="#" title="Read more about project 2">read more</a>
				</p>
			</li>

			<li>
				<time datetime="25 April">25<abbr title="April">apr</abbr>
				</time>
				<h2>Ski patrol festival</h2>
				<p>The Annual Ski Patrol Community Celebration is an event you do not want to miss. Head down to Heavenly Village.Enjoy because this event is open to everyone.
					<a href="#" title="Read more about project 3">read more</a>
				</p>
			</li>
		</ul>
	</section>
	<!-- End Component -->

</body>

</html>