<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />	
</head>
<body>

	<!-- Component -->
<section>
	<article>
		<h2>Member Name</h2>
		<h3>Member position</h3>
		<p>Small bio here...</p>
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">LinkedIn</a></li>
		</ul>
		<img src="" alt="">
	</article>
	
	<article>
		<h2>Member Name</h2>
		<h3>Member position</h3>
		<p>Small bio here...</p>
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">LinkedIn</a></li>
		</ul>
		<img src="" alt="">
	</article>
	
	<article>
		<h2>Member Name</h2>
		<h3>Member position</h3>
		<p>Small bio here...</p>
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">LinkedIn</a></li>
		</ul>
		<img src="" alt="">
	</article>
</section>
	<!-- End Component -->
	
</body>
</html>