<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<p>Brought to you by</p>
		<p>invision</p>
		<h2>Design better. Faster. Together.</h2>
		<p>The world's leading prototyping, collaboration &amp; workflow platform</p>
		<p>
			<a href="">Get started - Free forever!</a>
			<p><a href="">View details</a></p>
		</p>
	</section>
	

	<!-- End Component -->
	
</body>
</html>