<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		
		<p>Brought to you by</p>
		<h1>invision</h1>
		<h2> Design better. Faster. Together.</h2>
		<p>The world's leading prototyping, collaboration &amp; workflow platform</p>
		<ul>
			<li><a href="#">Get started - Free forever!</a></li>
		</ul>
		
	</section>
	

	<!-- End Component -->
	
</body>
</html>