/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* TYPOGRAPHY
======================================== */
/* base font */
body {
	color: hsl(0, 0%, 50%)
}
/* section heading */
h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 1.5em;
	font-weight: 900;
	color: hsl(0, 0%, 40%);
}
/* create a visual divider after title */
h2::after {
	content: "";
	width: 20%;
	position: absolute;
	top: 14%;
	left: 40%;
	border-bottom: 5px solid rgb(140, 207, 80);
}
/* lead text */
section h2 ~ p {
	font-size: 1.5em;
	color: hsl(0, 0%, 70%)
}
/* basic paragraph */
section > p {
	font-size: 1.2em;
}
/* contain size of signature image */
section img {
	width: 50%;
	
}

/* LAYOUT + POSITIONING
======================================== */
/* vertical stack content & give room to breathe */
section ul, section > p, section h2 ~ p {
	width: 100%;
	padding: 5% ;
}
/* increase meter width */
ul, meter {
	width: 100%;
}


@media (min-width: 600px) {
	/* center the content within browser */
	.wrapper {
		max-width: 1000px;
		margin: auto;
	}
/* adjust divider position */
	h2::after {
		content: "";
		width: 10%;
		position: absolute;
		top: 8%;
		left: 45%;
		border-bottom: 5px solid rgb(140, 207, 80);
	}
	/* float body paragraphs to left  */
	p ~ section {
		width: calc(100% / 12 * 5 );
		float: left;
	}
	/* float skill bars to right  */
	section ul {
		width: calc(100% / 12 * 5);
		float: right;
	}

}

