<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<div class="wrapper">
		
			<h2>Why people choose us</h2>
			<p>Lorem ipsum dolor sit amet, per summo viderer ei. Est fugit impedit ne, dicunt dissentias vel ei, eam in alterum vituperata.</p>
	
			<section>
				<p>Lorem ipsum dolor sit amet, per summo viderer ei. Est fugit impedit ne, dicunt dissentias vel ei, eam in alterum vituperata. I mea ei atqui simul, ut nonumy ancillae eleifend duo. Est fugit impedit ne, dicunt dissentias vel ei, eam in alterum vituperata. I mea ei atqui simul, ut nonumy ancillae eleifend duo.</p>

				<p>Modo illum pro cu, veri maluisset ad sed. Legendos maluisset te pro. Nam quas etiam cu. Legendos maluisset te pro. Nam quas etiam cu. Te graeci noluisse quaerendum sit, mel ne noster possim.</p>
				<img src="signature.gif" alt="signature">
			</section>
			<ul>
				<li>
					<p>Web design</p>
					<meter min=0 max=100 value=90></meter>
				</li>
				<li>
					<p>UX/UI</p>
					<meter min=0 max=100 value=90></meter>
				</li>
				<li>
					<p>Branding</p>
					<meter min=0 max=100 value=80></meter>
				</li>
				<li>
					<p>Web development</p>
					<meter min=0 max=100 value=100></meter>
				</li>
				<li>
					<p>SEO</p>
					<meter min=0 max=100 value=65></meter>
				</li>
			</ul>
		</div>
	</section>

	<!-- End Component -->
	
</body>
</html>