<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
		<h1>N</h1>
		<nav>
			<ul>
				<li><a href="">Intro</a></li>
				<li><a href="">Screens</a></li>
				<li><a href="">Prototype</a></li>
			</ul>
		</nav>
		<ul>
			<li><a href="#">Twitter</a></li>
			<li><a href="">Facebook</a></li>
			<li><a href="">LinkdIn</a></li>
		</ul>
		<p><a href="">Download</a></p>
	</header>
	

	<!-- End Component -->
	
</body>
</html>