/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
/* vertical stack */
header {
	text-align: center;
	background: #ff673b;
	padding: 1rem;
}

header li, h1 {
	padding: 1rem;
	text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
/* logotype */
h1 {
	font: 900 normal 5rem/1.5 'comfortaa',sans-serif;
}

/* links - normal state */
header a, header a:link {
	color: hsla(0, 0%, 100%, 0.55);
	font-size: 1.8rem;
	text-transform: uppercase;
}

/* links - hover|active state */
header a:hover, header a:active, h1 {
	color: white;
}

header > ul li:not(:last-child) {
	display: inline-block;
}

/* image replacement technique - hide text */
header > ul li:not(:last-child) a {
	text-align: center;
	width: 3rem;
	height: 2.4rem;
	padding-top: 3rem;
	overflow: hidden;
	border: none;
}
header span {
	display: none;
	color: hsla(0, 0%, 100%, 0.55);
}
header a[href*="twitter"], 
header a[href*="facebook"],
header a[href*="linkedin"] {
	opacity: 0.5;
	float: left;
}
/* hover + active states */
header a[href*="twitter"]:hover, 
header a[href*="facebook"]:hover,
header a[href*="linkedin"]:hover {
	opacity: 1;
}
/* image replacement for social links - normal */
header a[href*="twitter"] {
	background: url('twitter.png') no-repeat;
}
header a[href*="facebook"] {
	background: url('facebook.png') no-repeat;
}
header a[href*="linkedin"] {
	background: url('linkedin.png') no-repeat;
}






@media (min-width: 600px) {
	header {
		padding: 1rem 2rem 0 
	}
	/* logo */
	h1 {
		padding: 0;
		font-size: 4rem;
		position: absolute;
		left: 45%;
	}
	/* social stats */
	header span {
		display: inline;
		font-size: 1.3rem
	}
	
	/* style and position header links */
	header a, header a:link {
		font-size: 1.6rem;
/*		transition: all .25s ease-in-out;*/
	}
	/* position of header list items */
	nav, nav li, header > ul li {
		float: left;
	}
	/* position ul + download link */
	header > ul, header a[title*="Download"] {
		float: right;
	}
	

	header span {
		padding-top: .5rem;
	}
		
}
/* clear fix */
header::after, header ul::after, header ul::before {
	content: "";
	display: block;
	clear: both;
}