<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<script src="http://use.edgefonts.net/comfortaa:n4,n3,n7:all.js"></script>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
		<h1>N</h1>
		<nav>
			<ul>
				<li><a href="#">Intro</a></li>
				<li><a href="#">Screens</a></li>
				<li><a href="#">Prototype</a></li>
			</ul>
		</nav>
		<ul>
			<li>
				<a href="https://twitter.com/" title="Share via Twitter">Twitter</a> 
				<span title="1510 shared via Twitter">1510</span>
			</li>
			<li>
				<a href="http://facebook.com/" title="Share via Facebook">Facebook</a> 
				<span title="1510 shared via Facebook">1721</span>
			</li>
			<li>
				<a href="http://linkedin.com/" title="Share via linkedin">Linkedin</a>
				<span title="461 shared via Linkedin"> 461</span>
			</li>
			<li>
				<a href="#" title="Download template">Download now</a>
			</li>
		</ul>
	</header>
	

	<!-- End Component -->
	
</body>
</html>