<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<section>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
		</section>
		
		<section>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
		</section>
		
		<section>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
			<article>
				<h2>Heading</h2>
				<img src="" alt="">
				<p><a href="#">Link</a></p>
			</article>
		</section>
	</section>

	<!-- End Component -->
	
</body>
</html>