<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
	<section>
		<section>
			<h2>Our clients</h2>
			<ul>
				<li><a href="#" id="microsoft">Microsoft</a>
				</li>
				<li><a href="#" id="nbc">NBC</a>
				</li>
				<li><a href="#" id="usa">USA Today</a>
				</li>
				<li><a href="#" id="redbull">Red Bull</a>
				</li>
				<li><a href="#" id="sony">Sony</a>
				</li>
				<li><a href="#" id="ga">General Assembly</a>
				</li>
			</ul>
		</section>
		<section>
			<h2>Testimonials</h2>
			<article>
					<section>
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/rogie/128.jpg" alt="Testimonial-Author's Picture">
						<h3>Albert Martinez</h3>
						<p>Student at Full Sail University from the WDDBS program</p>
					</section>
	<!--				<section>-->
						<blockquote>Testimonial will be here. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit ipsum illum et ipsa, nemo quas voluptas quibusdam quo optio!</blockquote>
	<!--				</section>-->
				</article>
			</section>
		<ul>
			<li><a href="#1">Testimonial 1</a>
			</li>
			<li><a href="#2">Testimonial 2</a>
			</li>
			<li><a href="#3">Testimonial 3</a>
			</li>
		</ul>
	</section>
	<!-- End Component -->

</body>

</html>