<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
	<section>
		<!-- header -->
		<h1>component</h1>
		<img src="profile.jpg" alt="Albert Martinez's profile picture">
		<h2>Albert Martinez</h2>
		<h3>Photographer</h3>

		<!-- public stats-->
		<ul>
			<li><strong>26</strong> Comments</li>
			<li><strong> 7</strong> Channels</li>
			<li><strong>48</strong> Bookmarks</li>
		</ul>

		<!-- links + actions -->
		<p><a href="">edit profile</a></p>
		<button type="button" value=">">collapse</button>
		<button type="button" value="logout">logout</button>

	</section>
	<!-- End Component -->
	
</body>
</html>
