<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" href="../../css/reset.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,100|Roboto+Condensed:400,300,700' rel='stylesheet'>
	<link rel="stylesheet" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<p>AI websites that design themselves</p>
		<h2>Join the evolution</h2>
		<p><a href="#">Be founding member #50844</a></p>
		<p><a href="#">Watch the video</a></p>
	</section>
	<!-- End Component -->
	
</body>
</html>