<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<img src="profile.jpg" alt="photo of Thomas Schneider">
		<h2>Thomas Schneider</h2>
		<h3>Photographer</h3>
		<ul>
			<li>
				<p><strong>26</strong> Comments</p>
			</li>
			<li>
				<p><strong>7</strong> Channels</p>
			</li>
			<li>
				<p><strong>48</strong> Bookmarks</p>
			</li>
		</ul>
		<p><a href="">edit profile</a></p>
		<button type="button" value=">">collapse</button>
		<button type="button" value="logout">logout</button>
		
		
	</section>
	

	<!-- End Component -->
	
</body>
</html>