/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */


/* BASE STYLES 
======================================== */
body {
	background: url("bg.jpg") no-repeat top;
	font: normal 100%/1.5 'Roboto', sans-serif;
}


/* SECTION 
======================================== */
section {
	
	color: rgba(255,255,255,.75);
	margin-top:5em;
	
}

@media (min-width: 700px) {
	section {
		margin-top: 20em;
	}
}
@media (min-width: 1400px) {
	body {
		background-size:cover;
	}
	
}

/* TYPOGRAPHY 
======================================== */
h2, p {
	color: hsla(0, 0%, 100%, .75);
	text-align: center;
}

h2 {
	font-size: 3em;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: .16em;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .2em;
	font-size: .95em;
}




/* LINKS
======================================== */

section p a {
	box-sizing: border-box;
	padding: 3em 9em;
	display: block;
	margin: auto;
	border-radius: 3px;
	width: 90%;
}

section > p > a {
	padding: 7%;
	margin-top: 10%;
	background: #F8CD1C;
	border:1px solid hsla(0,0%,100%,1) ;
	color: rgb(40,43,49);
}

p:last-child a {
	background: rgb(30, 33, 39);
	border: 1px solid #f8cd1c;
	color: #f8cd1c;
	width: 70%;
}

@media (min-width: 700px) {
	section p a {
	box-sizing: border-box;
	display: inline-block;
	margin-top: 5%;
	border-radius: 3px;
	max-height: 93px;
}

section > p > a {
	padding: 1%;
	background: #F8CD1C;
	border:1px solid hsla(0,0%,100%,1) ;
	color: rgb(40,43,49);	
	width: auto;
}

p:last-child a {
	background: rgb(30, 33, 39);
	border: 1px solid #f8cd1c;
	color: #f8cd1c;
	width: auto;
}
}