/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */


/* CATEGORY SECTIONS
======================================== */
body {
	background: -webkit-linear-gradient(left, hsla(0, 0%, 100%,.2) 0%, rgba(0,50,0, .4) 50%, hsla(0, 0%, 100%,.2) 100%), url("bg.jpg") repeat;
	background: -o-linear-gradient(left, hsla(0, 0%, 100%,.2) 0%, rgba(0,50,0, .4) 50%, hsla(0, 0%, 100%,.2) 100%), url("bg.jpg") repeat;
	background: linear-gradient(to right, hsla(0, 0%, 100%,.2) 0%, rgba(0,50,0, .4) 50%, hsla(0, 0%, 100%,.2) 100%), url("bg.jpg") repeat;
}
section section {
	background: -webkit-linear-gradient(left, #dedede 0%, white 50%, #ccc 150%);
	background: -o-linear-gradient(left, #dedede 0%, white 50%, #ccc 150%);
	background: linear-gradient(to right, #dedede 0%, white 50%, #ccc 150%);
	width: 100%;
	margin-bottom: 1em;
	padding: .5em 1em;
	border-bottom: 2px inset hsla(0, 100%, 100%, .5);
	border-top: 2px solid rgba(0,70,20,.5);
	border-left: 2px solid rgba(0,70,20,.5);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3), 
				1px 1px 1px 0px rgba(100, 100, 100, .5);
}

/* SECTION IMG
======================================== */
img {
	max-width:100%;
}

section img {
	width: 30%;
	position: absolute;
	right: 0;
	padding-right: .1rem;
}


/* TYPOGRAPHY
======================================== */
/* base font stylings */
section:first-of-type {
	font: normal 100%/1.5 'Source Sans Pro', sans-serif;
}

/* heading style 1 */
section h2 {
	font:500 normal 1.125em/1.5;
	text-transform: uppercase;
	color: dimgray;
}
/* heading style 2*/
h2 span {
	font-weight: 700;
	color: #333;
}
/* shop now link */
p > a {
	font:700 normal .8em/1 'Source Sans Pro', sans-serif;
	display: block;
	padding-top: 3.5em;
	text-shadow: 2px 2px 1px hsla(0, 100%, 100%, 1);
	color: rgb(133,138,133);
}


/* MEDIA QUERIES
======================================== */


@media (min-width: 475px) {
	
/* individul sections */
	section > section {
		margin-right: .5rem;
		position: relative;
		max-width: calc(100% / 2 - 1rem / 2);
		float:left;
	}
/* section img */
	section img {
		width: 40%;
		position: absolute;
		bottom: 0;
		right: 5%;
	}
}


@media (min-width: 720px){
	section {max-width: 960px; margin:auto;}
	section section {
		max-width: calc(100% / 3 - 1.5rem / 3);
	}
}