<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		
		<!-- Panel 1 -->
		<section>
			<h2><a href="#">Inside the galaxies</a></h2>
			<article>
				<h3>Stellar</h3>
				<p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.</p>
				<p><a href="#" title="view more articles by Jason Silva"><img src="avatar.jpg" alt="Author Jason Silva">Jason Silva</a></p>
			</article>
		</section>
		
		<!-- Panel 2 -->
		<section>
			<h2><a href="#">Indigenous peoples in Brazil</a></h2>
			<article>
				<h3>Natives</h3>
				<p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.</p>
				<p><a href="#" title="view more articles by Amber Gaines"><img src="avatar.jpg" alt="Author Amber Gaines">Amber Gaines</a></p>
			</article>
		</section>
		
		<!-- Panel 3 -->	
		<section>
			<h2><a href="#">Deep Oceans</a></h2>
			<article>
				<h3>Sharks</h3>
				<p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.</p>
				<p><a href="#" title="view more articles by Patrick Seagle"><img src="avatar.jpg" alt="Author Patrick Seagle">Patrick Seagle</a></p>
			</article>
		</section>
	</section>
	

	<!-- End Component -->
	
</body>
</html>