<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<script src="http://use.edgefonts.net/cuprum:n4:all.js"></script>
	<script src="http://use.edgefonts.net/cuprum:n4:all;jockey-one:n4:all.js"></script>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
	<section>

		<!-- Panel 1 -->
		<article title="stellar">
			<h2>Inside the galaxies</h2>
			<h3>Stellar</h3>
			<p>As I stand in the wonders of the unknown</p>
			<footer>
				<p><img src="avatar.jpg" alt="Photo of Author"><a href="#" title="Author Jason Silva">Jason Silva</a>
				</p>
			</footer>

		</article>

<!--				 Panel 2 -->
		<article title="natives">
			<h2>Indigenous peoples in Brazil</h2>
			<h3>Natives</h3>
			<p>As I stand in the wonders of the unknown</p>
			<footer>
				<p><img src="avatar.jpg" alt="Photo of Author"><a href="#" title="Author Amber Gaines">Amber Gaines</a>
				</p>
			</footer>
		</article>

		<!--		 Panel 3 -->
		<article title="sharks">
			<h2>Deep Oceans</h2>
			<h3>Sharks</h3>
			<p>As I stand in the wonders of the unknown</p>
			<footer>
				<p><img src="avatar.jpg" alt="Photo of Author"><a href="#" title="Author Patrick Seagle">Patrick Seagle</a>
				</p>
			</footer>
		</article>

	</section>


	<!-- End Component -->

</body>

</html>