/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
/* BASE STYLES 
======================================== */
body {
	width: 100%;
	font: 400 normal 100%/1.5 'Roboto', sans-serif;
	color: hsla(0, 0%, 50%,.5);
}

img {
	max-width: 100%;
}

section {
	margin: auto;
	padding: 70px;
	max-width: 1298px;
	text-shadow: 0 1px 0 rgba(22, 24, 29, 0.5);
	background: linear-gradient(to bottom, rgba(0,0,0,.2)0%, rgba(50,50,50,.9)100%), url('mobile.jpg') no-repeat right;
	background-size: cover;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/* TYPOGRAPHY
======================================== */

section h2 {
	font-size: 2em;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 1.5em;
	letter-spacing: .2em;
	color: hsl(0, 0%, 100%);
}

section p {
	font-size: 1.5em;
	color: hsla(0, 0%, 100%, .80);
}
@media (min-width: 685px) {
	section h2, section p {
		max-width: 40%;
		padding: 5px;
	}
	section p {
		font-size: 1em;
	}
}	