<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<article>
			<h2>Mobile tools you'll actually use</h2>
			<p>Flexitarian letterpress before they sold out selvage organic VHS. Sriracha asymmetrical sustainable craft beer cray, meh kogi gluten-free Schlitz direct trade migas. Marfa ethical Banksy, Schlitz Austin meh health goth VHS asymmetrical mustache single-origin coffee viral mumblecore. Vinyl slow-carb plaid listicle deep v organic try-hard keffiyeh, bitters Williamsburg.</p>
		</article>
	</section>
	

	<!-- End Component -->
	
</body>
</html>