<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<nav>
	<ul>
		<li><a href="#">Events</a></li>
		<li><a href="#">Sidebar</a></li>
		<li><a href="#">Navigation</a></li>
		<li><a href="#">C.T.A.</a></li>
		<li><a href="#">Search Results</a></li>
		<li><a href="#">News Accordion</a></li>
		<li><a href="#">Quote Display</a></li>
		<li><a href="#">Top Picks</a></li>
		<li><a href="#">Sign Up</a></li>
		<li><a href="#">Footer</a></li>
	</ul>
</nav>
	<!-- End Component -->
	
</body>
</html>