/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* TYPOGRAPHY
======================================== */
/* base font */
body {
	font: 400 normal 100%/1.5 'Source Sans Pro', sans-serif;
	color: hsl(0, 0%, 50%);
}

/* heading 2 */
h2 {
	font-size: 1.75em;
	letter-spacing: .1em;
	color: rgb(44,45,46);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}
/* heading 3 */
h3 {
	font-size: 2em;
	font-weight: 500;
	color: hsla(0, 0%, 100%, 0.75);
}

/* heading 3 style 2 */
h3 > span, p {
	font-size: 1.5em; /*h3>span: 3em /p: 1.5em*/
}
/* body copy */
P {
	color: hsla(0, 0%, 100%, 1);
}
/* headings and cta */
h2, p + p a {
	font-weight: 900;
	text-transform: uppercase;
}
/* book now button background*/
p + p {
	background: rgb(44,45,46);
	text-align: center;
}
/* book now button link*/
p > a {
	color: rgb(180, 141, 81);
	font-size: 1.5em;
	text-align: center;
	transition: all 0.5s ease-in-out
}
p > a:hover {
	transition: all 0.5s ease-in-out;
	color: white;
}
/* LAYOUT + SPACING
======================================== */
/* spacing around elements */
	h2, h3, h3 + p {
	padding: 5%;
}

/* background for news feed section */
article section {
	background: rgb(180, 141, 81);
}


	
@media (min-width: 700px) {	
	/* style copy for desktop */
	h3 + p {
		font-size: 1em;
		background: rgb(180, 141, 81);
		padding-bottom: 10%;
	}
	/* adjust book now text 4 desktop */
	p > a {
		display: block;
		font-size: 1em;
		padding-bottom: 15px;
	}
	/* clear floats */
	article::after {
	content: "";
	display: table;
	clear: both;
	}
	/* constrain and center content */
	.wrapper {
		max-width: 960px;
		margin: auto;
	}
	/* heading section of news feed */
	article h2 {
		float: left;
		text-align: left;
		max-width: 50%;
	}
	/* align for horizontal layout */
	section section{
		max-width: 50%;
		float: right;
	}
	/* space within news feed content*/
	section > h3, p + p {
		padding:20px 5% 0;
	}
}

/* PAGINATION CONTROLS
======================================== */
/* position pagination */
ul {
	margin-top: 10px;
	height: 20px;
	display: block;
	float: right;
}
/* position list items* horizontally */
ul li {
	display: inline-block;
}
/* image replacement */
section li a {
	display: block;
	margin-right: 10px;
	text-indent: -9999px;
	background:  rgb(215,216,217);
	border-radius: 100%;
	width: 15px;
	height: 15px;
	transition: all 0.5s ease-in-out;
}

section li a:hover {
	transition: all 0.5s ease-in-out;
	background: rgb(234, 164, 57);
}
