<!DOCTYPE html>
<html>

<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

</head>

<body>
	<!-- Component -->
	<section>
		<div class="wrapper">
			<article>
				<h2>Seminar on jewish environmental education</h2>
				<section>
					<h3>01 <span>/ 25</span></h3>
					<p>Flexitarian letterpress before they sold out selvage organic VHS. Sriracha asymmetrical sustainable craft beer cray, meh kogi gluten-free Schlitz direct trade migas.</p>
					<p><a href="#">Book now!</a></p>
				</section>
			</article>
			<ul>
				<li><a href="#">Slide 1</a></li>
				<li><a href="#">Slide 2</a></li>
				<li><a href="#">Slide 3</a></li>
			</ul>
		</div>
	</section>
	<!-- End Component -->
</body>

</html>