<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
	<section>
		<article>
			<h2>About</h2>
			<p>You know what i like most about las vegas? you can be whoever you want to be. Strange memories on this nervous night in las vegas. Did you come to las vegas to be a showgirl? no. i'm on vacation with my parents. Now casinos have house rules: they don't like to lose. so you never show that you're counting cards.</p>
			<img src="" alt="Female Headshot">
		</article>
		<article>
			<h2>Newsletter</h2>
			<p>You know what i like most about las vegas? you can be whoever you want to be.</p>
			<form action="post">
				<input type="email" placeholder="Enter your email here">
				<input type="button" value="subscribe">
			</form>
		</article>
	</section>
	

	<!-- End Component -->
	
</body>
</html>