/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* BASE STYLES 
======================================== */

body {
	width: 100%;
	font: 400 normal 100%/1.5 'Source Sans Pro', sans-serif;
	color: hsl(0, 0%, 50%);
}

section::before,
section::after {
	content: "";
	display: table;
	clear: both;
}

img { width: 100%; }

/* TYPOGRAPHY
======================================== */
h2, h3, section input[type="button"]{
	font-family: "Source Sans Pro", sans-serif;
	letter-spacing: .2em;
	text-transform: uppercase;
}
section h2 {
	font-size: 2em;
	font-weight: 100;
	color: #1d1d1d;
	background: lightgray; 
}

section form h3 {
	font-size: 1.5em;
	font-weight: 100;
}

@media (min-width: 700px) {
	section h2 {
		font-size: 1.6em;
	}
	section form h3 {
		font-size: 1.2em;
	}	
}

/* COMPONENT SPECIFIC STYLES
======================================== */
h2, h3, form, p {
	padding: 3% 8%;
	
}
section h2, section h3 {
	padding: 6% 5%;
	
}
section p {
	font-size: 1.125em;
}
section > p {
	padding-bottom: 10%;
	background: lightgray; 
}

@media (min-width: 700px) {
	/* section {background: lightgray;} my personal preference instead of having the smaller box like in my component photo (around the 'About' area). Cleaner and a little more modern aesthetic and a little more me*/
	section {
		position: relative;
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	section h2, section h3 {
		padding: 6% 3% 2%;
	}
	section p {
		font-size: 1em;
	}
	section > p {
		width: 100%;
		padding: 0 78% 5% 3%;
		float: left;
	}
}


/* NEWSLETTER FORM
======================================== */
section form {
	width: 100%;
	background: #1d1d1d;
}

form > h3 { color: white; }

form input {
	width: 100%;
	background: black;
	border:1px solid #2d2d2d;
	margin-top:5%;
	margin-bottom: 20%;
	padding: 6% 5%;
	font-size: 1em;
	color: hsl(0, 0%, 50%);
	border-radius: 5px;
}
form input[type="email"]:hover
form input[type="email"]:focus {
	background: hsla(0,0%, 30%, .9);
	color: white;	
}

form input[type="button"] {
	color: white;
	font-weight:400;
	box-shadow: 0 1px 2px 1px #fff;
}
form input[type="button"]:hover  {
	background: #4d4d4d;
	border: 1px outset white;
}


@media (min-width: 700px) {
	section img {
		max-width: 35%;
		position: absolute;
		top: 44%;
		left: 29%;
	}

	form {
		padding: 0 3% 7.6% 3%;
		position: absolute;
		max-width: 34%;
		top: 76%;
		left: 55%;
	}

	form input {
		width: 100%;
		background: black;
		border:1px solid #2d2d2d;
		margin-top: 5%;
		margin-bottom: 0;
		padding: 3% 7% 0%;
		font-size: 0.75em;
		text-transform: uppercase;
		color: hsl(0, 0%, 50%);
		border-radius: 3px;
	}

	form input[type="button"] {
		padding: 7% 0%;
		box-shadow: 0 2px 1px 1px black;
	}
	form input[type="button"]:hover  {
		border: 1px outset white;
		box-shadow: 0 3px 1px 0px black;
	}
}