<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0">
	<title>Albert Martinez: Web Standards Project | Sign Up - Component 9</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>
	<header id="header">
		<h1>Sign Up | Component 9</h1>
	</header>

	<!-- Component -->
	<section>
		<div class="main_content">
			<h2>About</h2>
			<p>We have a team of hair stylists, colorists, and extensions experts who individually have over 20 years of high end salon experience. Our senior stylist/salon owner have worked in Beverly Hill's top salons but prefers to be his own boss and likes the personal feel of running a handsome moderm boutique salon. He is also specially trained in all types of extensions. You know now where to go for any hair necessity. </p>
		</div>
		<img src="hair.jpg" alt="Female posing for Headshots with sleek straightened black hair " />
			
		<form action="#">
			<h3>Newsletter</h3>
			<p>Subscribe to get the latest in all things hair: News, hot tips, new products, and more.</p>
			<p>
				<input type="email" placeholder="Enter your email" autocomplete="email" />
			</p>
			<input type="button" value="SUBSCRIBE">
		</form>

	</section>


	<!-- End Component -->

</body>

</html>