<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>
	<!-- Component -->
	<section>
		<h2>About</h2>
		<p>We have a team of hair stylists, colorists, and extensions experts who individually have over 20 years of high end salon experience. Our senior stylist/salon owner have worked in Beverly Hill's top salons but prefers to be his own boss and likes the personal feel of running a handsome moderm boutique salon. He is also specially trained in all types of extensions. You know now where to go for any hair necessity. </p>
	<img src="photo.jpg" alt="Female Headshot">
			<form action="#">
			<h3>Newsletter</h3>
				<p>Subscribe to get the latest hair news, top tips, and up and coming pro products.</p>
			<input type="email" placeholder="Enter your email">
			<input type="button" value="subscribe">
		</form> 
	</section>


	<!-- End Component -->

</body>

</html>