/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* TYPOGRAPHY
======================================== */
/* base font */
section {
	color: hsl(0, 0%, 50%);
}
/* headings + cta */
h2, h3, section input[type="button"]{
	letter-spacing: .2em;
	text-transform: uppercase;
}
/* main heading */
h2 {
	font-size: 2em;
	font-weight: 100;
	color: #1d1d1d;
}
/* form heading */
h3 {
	font-size: 1.5em;
	font-weight: 100;
}
p {
	font-size: 1.125em;
}
@media (min-width: 700px) {
	/* clear fix */
	section::after {
	content: "";
	display: table;
	clear: both;
}
	/* main heading */
	h2 {
		font-size: 1.6em;
	}
	
	/* form heading*/
	h3 {
		font-size: 1.2em;
	}	
}

/* COMPONENT SPECIFIC STYLES
======================================== */
/* give content white space */
h2, h3, form, p {
	padding: 3% 8%;
}
/* headings white space */
section h2, section h3 {
	padding: 6% 5%;
}
/* body copy white space */
section > p {
	padding-bottom: 10%;
}

@media (min-width: 700px) {
	/* adjust font-size */
	section p {
		font-size: 1em;
	}
	/* restrict size + align center */
	section {
		position: relative;
		max-width: 960px;
		margin: 0 auto;
	}
	/* adjust headings white soace */
	section h2, section h3 {
		padding: 6% 3% 2%;
	}
	/* adjust body copy width */
	section > p {
		width: 35%;
		float: left;
	}
	/* background for section */
	section::before {
		content: "";
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
		background: lightgray;
		z-index: -1;
	}
}


/* NEWSLETTER FORM
======================================== */
/* form background */
section form {
	background: #1d1d1d;
}
/* form heading */
form > h3 { color: white; }

/* general form input */
form input {
	background: black;
	border:1px solid #2d2d2d;
	margin-top:5%;
	margin-bottom: 20%;
	padding: 6% 5%;
	font-size: 1em;
	color: hsl(0, 0%, 50%);
	border-radius: 5px;
}
/* email input field */
form input[type="email"] {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* email input field hover */
form input[type="email"]:hover {
	border-color: white;
	color: white;	
}
/* subscribe button */
form input[type="button"] {
	color: white;
	font-weight:400;
	box-shadow: 0 1px 2px 1px #fff;
}
/* subscribe button hover */
form input[type="button"]:hover  {
	background: #4d4d4d;
	border: 1px outset white;
}

@media (min-width: 700px) {
	/* adjust img size */
	section img {
		max-width: 35%;
		position: absolute;
		top: 44%;
		left: 29%;
	}
	/* position form */
	form {
		padding: 0 3% 7.6% 3%;
		position: absolute;
		max-width: 34%;
		top: 76%;
		left: 55%;
	}
	/* adjust form for desktop */
	form input {
		width: 100%;
		background: black;
		border:1px solid #2d2d2d;
		margin-top: 5%;
		margin-bottom: 0;
		padding: 3% 7% 0%;
		font-size: 0.75em;
		text-transform: uppercase;
		color: hsl(0, 0%, 50%);
		border-radius: 3px;
	}

	form input[type="button"] {
		padding: 7% 0%;
		box-shadow: 0 2px 1px 1px black;
	}
	form input[type="button"]:hover  {
		border: 1px outset white;
		box-shadow: 0 3px 1px 0px black;
	}
}