<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP: Albert Martinez</title>
	<link rel="stylesheet" href="../../css/reset.css" />
	<link rel="stylesheet" href="component.css" />
	
</head>
<body>

	<!-- Component -->
	<footer>
		<section>
			<h2>Information</h2>
			<ul>
				<li><a href="#">Specials</a></li>
				<li><a href="#">New products</a></li>
				<li><a href="#">Top sellers</a></li>
				<li><a href="#">Our stories</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Pages configuration</a></li>
				<li><a href="#">Sitemap</a></li>
			</ul>
		</section>
		<section>
			<h2>My account</h2>
			<ul>
				<li><a href="#">My orders</a></li>
				<li><a href="#">My merchandise returns</a></li>
				<li><a href="#">My credit slips</a></li>
				<li><a href="#">My addresses</a></li>
				<li><a href="#">My personal info</a></li>
			</ul>
		</section>
		<section>
			<h2>Follow us</h2>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">RSS</a></li>
				<li><a href="#">Google plus</a></li>
			</ul>
		</section>
		<section>
			<form action="post">
				<h2>Newsletter</h2>
				<p><input type="email" title="Email input field"></p>
				<p><input type="submit" value="Ok"></p>
			</form>
		</section>
		<section>
			<h2>Store information</h2>
			<ul>
				<li title="Store Contact Information">
					<ul>
						<li title="Business Name">My Company</li>
						<li title="Street">4578 Memory Lane</li>
						<li title="City, State, Zip">Beverly Hills, CA 90210</li>
					</ul>
				</li>
				<li>Call us now: <a href="tel:+13101234567">310.123.4567</a></li>
				<li>Email: <a href="mailto:info@demolink.org">info@demolink.org</a></li>
			</ul>
		</section>
	</footer>
	

	<!-- End Component -->
	
</body>
</html>