<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
	<footer>
		<article>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</article>
		<article>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</article>
		<article>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</article>
		<article>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</article>
		<article>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
			</ul>
		</article>
		<article>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</article>
		<article>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</article>

		<ul>
			<li>
				<a href="#">Privacy</a>
			</li>
			<li>
				<a href="#">ToS</a>
			</li>
			<li>
				<p>© 2010-2015 UXPin Sp.2.000</p>
			</li>
		</ul>
	</footer>


	<!-- End Component -->
	
</body>
</html>