<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
	<footer>
		<div class="wrapper">
		<section>
			<h2>Learn more</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</section>
		<section>
			<h2>About</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</section>
		<section>
			<h2>Support</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</section>
		<section>
			<h2>Features</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</section>
		<section>
			<h2>Notepads</h2>
			<ul>
				<li><a href="#">Link</a></li>
			</ul>
		</section>
		<section>
			<h2>Stay in touch</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</section>
		<section>
			<h2>List heading</h2>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</section>
		</div>
		<div class="wrapper">
		<ul>
			<li>
				<a href="#">Privacy</a>
			</li>
			<li>
				<a href="#">ToS</a>
			</li>
			<li>
				©2010-2015 UXPin Sp.2.000
			</li>
		</ul>
		</div>
	</footer>


	<!-- End Component -->
	
</body>
</html>