<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WSP Component: Albert Martinez</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
	<section>
		<h2>Mobile tools you'll actually use</h2>
		<p>What's possible when an AI does all the hard work for you? You can get things done, even on the go. Drag-n-drop builders don't play nice with fingers on phones, but AI works perfectly, anywhere.</p>

	</section>
	<!-- End Component -->

</body>

</html>